<!DOCTYPE html>
<html>
<title>Lastfm</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <button id="home" type="button" class="w3-bar-item w3-button w3-padding-large w3-white">Home</button>
    <button id="recent" type="button" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Recent Played Tracks</button>
    <button id="favorite" type="button" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Favorite</button>
    <button id="logout" type="button" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Logout</button>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:40px 16px">
  <h1 class="w3-margin w3-jumbo">Recent Played Tracks</h1>
</header>

<div id="recentTracks" class="panel"></div>

<script>
      var a = 0;
      var b;
      $("#logout").click(function(){
        $.get(window.location.href = "/logout");
      });

      $("#recent").click(function(){
        $.get(window.location.href = "/recent");
      });

      $("#favorite").click(function(){
        $.get(window.location.href = "/favorite");
      });

      $("#home").click(function(){
        $.get(window.location.href = "/admin");
      });

      $.get("/recentTracks", function( data ) {
        var tracks = '';
        for (track in data.recenttracks.track) {
          a = a + 1;
          var idForTracking = data.recenttracks.track[track].name;
          tracks = tracks + '<li class="panel-block"><b>Track name :&nbsp; </b><a href='+data.recenttracks.track[track].url+'>' + data.recenttracks.track[track].name + '</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'
          + '<button class="button is-danger is-outlined" onclick="markFavorite('+a+')">Mark Favorite</button></li>';
        }
        $("#recentTracks").html("<ul>" + tracks + "</ul>");
      });

      function markFavorite(value){
        console.log(value);
        $.post("/markFavorite?" + value,{name:value},function(data){
          alert(data);
        });
      }

</script>

</body></br></br></br></br></br></br></br></br>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Created by </strong><a href="https://angel.co/laxman-verma-1">Laxman Verma </a>.
      <a href="https://github.com/laxmanverma">GitHub </a>.
      <a href="https://www.linkedin.com/in/laxmanverma/">LinkedIn</a>.
    </p>
  </div>
</footer>
</html>
